In [16]:
i=1
while i<=50:
    print(i,end="   ")
    i=i+1
print("\nDone")

1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50
Done

In [21]:
list = ('Sumit','saurabh','aditya','Tejas')
i=0
while i<=len(list):
    print(list , i)
    i=i+1

('Sumit', 'saurabh', 'aditya', 'Tejas') 0
('Sumit', 'saurabh', 'aditya', 'Tejas') 1
('Sumit', 'saurabh', 'aditya', 'Tejas') 2
('Sumit', 'saurabh', 'aditya', 'Tejas') 3
('Sumit', 'saurabh', 'aditya', 'Tejas') 4

In [26]:
list = ('Sumit','saurabh','aditya','Tejas')
i=0
while i<len(list):
    print(list[i] , i)
    i=i+1

Sumit 0
saurabh 1
aditya 2
Tejas 3

In [5]:
x=int(input("Enter the no. :  "))
for i in range(1,11):
    k=x*i
    print(k)

Enter the no. :  5
5
10
15
20
25
30
35
40
45
50

In [6]:
x=int(input("Enter the no. :  "))
for i in range(1,11):
    print(str(x) + " X " + str(i) +" = " + str(i*x) )

Enter the no. :  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [7]:
list = ('sumit','saurabh','aditya','Tejas')
for i in list:
    if i.startswith("s"):
        print("Hello " + str(i))

Hello sumit
Hello saurabh

In [27]:
num=float(input("enter the no. : "))
i=1
while i<11:
    print(F"{num} X {i} = {num*i}")
    i=i+1

enter the no. : 45.6989
45.6989 X 1 = 45.6989
45.6989 X 2 = 91.3978
45.6989 X 3 = 137.0967
45.6989 X 4 = 182.7956
45.6989 X 5 = 228.49450000000002
45.6989 X 6 = 274.1934
45.6989 X 7 = 319.89230000000003
45.6989 X 8 = 365.5912
45.6989 X 9 = 411.2901
45.6989 X 10 = 456.98900000000003

In [23]:
num=int(input("enter the no. : "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print("it is prime number")
else:
    print("It is not prime number")

enter the no. : 113
it is prime number

In [20]:
x=False
if x:
    print("HHh")

In [24]:
x=True
if x:
    print("HHh")

HHh

In [ ]:
num=int(input("enter the no. : "))
for i in (1,num):

# PROBLEM ALA NAHI NIT
num=int(input("enter the no. : "))
sum=0
for i in range(0,num):
    sum=sum+i
    i=i-1
print(sum)

In [42]:
n=int(input("enter the no. : "))
print(f"{n*(n+1)/2}")

enter the no. : 10
55.0

In [48]:
for i in range(11):
    print("*"* i)

*
**
***
****
*****
******
*******
********
*********
**********

In [49]:
x=int(input("Enter the no. :  "))
for i in range(10,0,-1):
    print(str(x) + " X " + str(i) +" = " + str(i*x) )

Enter the no. :  5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [ ]:
a =int(input("Enter the no. :  "))
b =int(input("Enter the no. :  "))
s=0
while a<=b: