In [5]:
#These are the ways to write the variacle
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [1]:
#for print syntax is givan as:
print("Hello Sumit!!")

Hello Sumit!!

#

In [43]:
print(format(22/7 , '.3f')) #This is used for floating point numbers
print()
print(format(213263453452522, ','))
print()
print(format("Sumit" , '.>50'))
print()
print(format("Sumit" , '.<50'))
print()
print(format("Sumit" , '*^50'))

print("hello" , "____________________" , "World")
print("Heloo" , format("_" , '_<20') , "World")
format("*" , '_<20')

3.143

213,263,453,452,522

.............................................Sumit

Sumit.............................................

**********************Sumit***********************
hello ____________________ World
Heloo ____________________ World

'*___________________'

In [1]:
print("Hello \nSumit!!")
print("Hello \tSumit!!")

Hello
Sumit!!
Hello 	Sumit!!

In [3]:
n = input("Enter your Name : ")
a= int(input("Enter your Age : "))
print(F"{n} your age is {a}")

Enter your Name : Sumit
Enter your Age : 18
Sumit your age is 18

In [ ]:
# Arithmetic Operators

x = 300 
y = 200
print()