In [16]:
i=1
while i<=50:
    print(i,end="   ")
    i=i+1
print("\nDone")

1   2   3   4   5   6   7   8   9   10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28   29   30   31   32   33   34   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50
Done

In [21]:
list = ('Sumit','saurabh','aditya','Tejas')
i=0
while i<=len(list):
    print(list , i)
    i=i+1

('Sumit', 'saurabh', 'aditya', 'Tejas') 0
('Sumit', 'saurabh', 'aditya', 'Tejas') 1
('Sumit', 'saurabh', 'aditya', 'Tejas') 2
('Sumit', 'saurabh', 'aditya', 'Tejas') 3
('Sumit', 'saurabh', 'aditya', 'Tejas') 4

In [26]:
list = ('Sumit','saurabh','aditya','Tejas')
i=0
while i<len(list):
    print(list[i] , i)
    i=i+1

Sumit 0
saurabh 1
aditya 2
Tejas 3

In [5]:
x=int(input("Enter the no. :  "))
for i in range(1,11):
    k=x*i
    print(k)

Enter the no. :  5
5
10
15
20
25
30
35
40
45
50

In [6]:
x=int(input("Enter the no. :  "))
for i in range(1,11):
    print(str(x) + " X " + str(i) +" = " + str(i*x) )

Enter the no. :  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [7]:
list = ('sumit','saurabh','aditya','Tejas')
for i in list:
    if i.startswith("s"):
        print("Hello " + str(i))

Hello sumit
Hello saurabh

In [1]:
num=float(input("enter the no. : "))
i=1
while i<11:
    print(F"{num} X {i} = {num*i}")
    i=i+1

enter the no. : 12
12.0 X 1 = 12.0
12.0 X 2 = 24.0
12.0 X 3 = 36.0
12.0 X 4 = 48.0
12.0 X 5 = 60.0
12.0 X 6 = 72.0
12.0 X 7 = 84.0
12.0 X 8 = 96.0
12.0 X 9 = 108.0
12.0 X 10 = 120.0

In [23]:
num=int(input("enter the no. : "))
prime=True
for i in range(2,num):
    if num%i==0:
        prime=False
        break
if prime:
    print("it is prime number")
else:
    print("It is not prime number")

enter the no. : 113
it is prime number

In [20]:
x=False
if x:
    print("HHh")

In [24]:
x=True
if x:
    print("HHh")

HHh

In [ ]:
num=int(input("enter the no. : "))
for i in (1,num):

# PROBLEM ALA NAHI NIT
num=int(input("enter the no. : "))
sum=0
for i in range(0,num):
    sum=sum+i
    i=i-1
print(sum)

In [42]:
n=int(input("enter the no. : "))
print(f"{n*(n+1)/2}")

enter the no. : 10
55.0

In [48]:
for i in range(11):
    print("*"* i)

*
**
***
****
*****
******
*******
********
*********
**********

In [49]:
x=int(input("Enter the no. :  "))
for i in range(10,0,-1):
    print(str(x) + " X " + str(i) +" = " + str(i*x) )

Enter the no. :  5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [5]:
m = int(input("Enter the no. :  "))
n = int(input("Enter the no. :  "))
s = 0
while(m<=n):
    s = s+m
    m = m+1
print("SUM  =  ",s)

Enter the no. :  1
Enter the no. :  10
SUM  =   55

In [15]:
m = int(input("Enter the no. :  "))
n = int(input("Enter the no. :  "))
s=0
for i in range(m,n+1,1):
    s=i+s

print(F"SUM={s}")

Enter the no. :  1
Enter the no. :  10
SUM=55

In [2]:
m = int(input("Enter the no. :  "))
for i in range(1,11):
    print(F"{m} X {i} = {m*i}")

Enter the no. :  8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

In [18]:
num=int(input("enter the no. : "))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print(f"The factorial of the entered number is  : {factorial} ")

enter the no. : 5
The factorial of the entered number is  : 120