In [6]:
#Inheritance Example
class Earth :
    living = "Man All"
    land_portion = "29%"
    sea_portion = "71%"
    Total_countries = 195
    
class India(Earth):
    living = "Man More"
    capital = "Mumbai"
    president = "Modi 
     
class America(Earth):
    capital = "Washinton"
    president = "Biden"
    
i = India()
a = America()


print(i.living)
print(a.living)

Man More
Man All

In [17]:
#Single Inheritance

class Employee:
    company = "Alpha Bet"
    
    def age(self , age):
        self.age = age
        if self.age >= 18:
            print("You can work here.")
        else: 
            print("Sorry , you can not work here")
            
    def working_hours(self):
        print("The working hours are 8 hours")
        
    def salary(self):
        print("the salary  is 2,00,000")
    

class Programmer(Employee):
    company= "Google"
     
    def age(self , age):
        self.age = age
        if self.age >= 20:
            print("You can work here.")
        else:
            print("Sorry , you can not work here")
            
    def working_hours(self):
        print("The working hours are 11 hours")
        
        


saurabh = Employee()
saurabh.working_hours()
print(saurabh.company)
saurabh.age(18)
saurabh.working_hours = "google"
print(saurabh.working_hours)

            
sumit = Programmer()
print(sumit.company)
sumit.age(19)
sumit.salary()

The working hours are 8 hours
Alpha Bet
You can work here.
google
Google
Sorry , you can not work here
the salary  is 2,00,000

In [47]:
# Multiple Inheritence : it occurs when the child class imitates from two or more parent class.
 
''' 1. First it check instance attribute ,
2. It check respectective class
3. then it check respective class parennt 
4. if their are more then one it will select from the first one , 
5. in first it not present then it will go to second and so on'''


class Google:
    salary = 800
    net_charge = 10
    
class Youtube:
    salary = 900
    office = "America"
    
class Employee(Google , Youtube):
    net_charge = 8

sumit = Employee()
print(sumit.salary)
print(sumit.office)

800
America

In [58]:
#Multilevel_Inheritence:-

class Programmer:
    company= "Google"
    name = "Aditya"
            
    def working_hours(self):
        print("The working hours are 11 hours")
   

class Hacker(Programmer):
    company = "no company "
    name = "saurabh"
    
    def salary(self):
        print("the salary  is 2,00,000")
   

class Employee(Hacker):
    king= "no king"
    def age(self , age):
        self.age = age
        if self.age >= 18:
            print("You can work here.")
        else: 
            print("Sorry , you can not work here")
        

sumit = Employee()
print(sumit.name)
print(sumit.company)
sumit.age(12)
sumit.working_hours()

saurabh
no company
Sorry , you can not work here
The working hours are 11 hours

# super()._______ function is used to print above attribute or function.

In [67]:
#super()

class Programmer:
    company= "Google"
    name = "Aditya"
            
    def working_hours(self):
        print("The working hours are 11 hours")
   

class Hacker(Programmer):
    company = "google "
    name = "saurabh"
    
    def salary(self):
        print("the salary  is 2,00,000")
   

class Employee(Hacker):
    king= "no king"
    def age(self , age):
        self.age = age
        if self.age >= 18:
            print("You can work here.")
        else: 
            print("Sorry , you can not work here")
            
    def salary(self):
        super().salary()
        super().working_hours()
        print("the salary  is 30,000")
        
saurabh = Employee()
saurabh.salary()

the salary  is 2,00,000
The working hours are 11 hours
the salary  is 30,000

In [72]:
#What when we want to change the value of class attribute for these there are two methods as following.
# this is th first method but it only change for instant attribute it can not useful for class
class Employee:
    company = "Alpha Bet"
    salary = 1000
    
    def change_salary(self ,changed_salary):
        self.changed_salary = changed_salary
        print(f"The changed salary is {self.changed_salary}")
        
        
sumit = Employee()
print(sumit.salary)
sumit.change_salary(3000)

saurabh = Employee()
print(saurabh.salary)

1000
The changed salary is 3000

1000

In [91]:
# 1) This is the first method we can change the value of class attribute by taking __class__ .
class Employee:
    company = "Alpha Bet"
    salary = 1000
    
    def change_salary(self ,changed_salary):
        self.__class__.salary = changed_salary
        print(f"The changed salary is {self.salary}")
        
    def change_company(self,change_company):
        self.__class__.company = change_company
        print(F"The name of changed company is {self.company}")
     
        
sumit = Employee()
print(sumit.salary)
sumit.change_salary(3000)
print(sumit.salary)
sumit.change_company("Google")
print(sumit.company)

print()
print()


saurabh = Employee()
print(saurabh.salary)
print(saurabh.company)

1000
The changed salary is 3000
3000
The name of changed company is Google
Google


3000
Google

In [86]:
# 2)we also change here class attribute here just want write @classmethod

class Employee:
    company = "Alpha Bet"
    salary = 1000
    @classmethod
    def change_salary(self ,changed_salary):
        self.salary = changed_salary
        print(f"The changed salary is {self.salary}")
    @classmethod 
    def change_company(self,change_company):
        self.company = change_company
        print(F"The name of changed company is {self.company}")
     
        
sumit = Employee()
print(sumit.salary)
sumit.change_salary(3000)
print(sumit.salary)
sumit.change_company("Google")
print(sumit.company)

print()
print()


saurabh = Employee()
print(saurabh.salary)
print(saurabh.company)

1000
The changed salary is 3000
3000
The name of changed company is Google
Google


3000
Google

In [27]:
#@property is said to be getter 
# @setter is 
class Employee:
    company = "Alpha Bet"
    salary = 1000
    salarybonus = 500
    
    @property
    def total_salary(self):
        return self.salary + self.salarybonus
    
    @total_salary.setter
    def total_salary(self , value):
        self.salarybonus = value - self.salary

sumit = Employee()
print(sumit.company)
print(sumit.total_salary)


sumit.total_salary = 1750
print(sumit.salarybonus)
print(sumit.salary)

Alpha Bet
1500
750
1000

In [64]:
class Calculation:
    num1 = 10
    num2 = 15
    
    @property
    def multi(self):
        return self.num1 * self.num2
       
    @multi.setter
    def multi(self , value):
        self.num1 = value / self.num2

        
sumit = Calculation()
print(sumit.num1)
print(sumit.multi)

sumit.multi = 200
print(sumit.num1)
print(sumit.num2)

10
150
13.333333333333334
15

In [71]:
class Number:
    
    def __init__(self,num):
        self.num =num
    
    def __add__(self,y ):
        print("Lets add")
        return self.num + y.num
    

n1 = Number(10)
n2 = Number(5)
print(n1+n2)

Lets add
15