In [5]:
#Python :-

#1)Variable = It is like a container where we can put our values. (store our values) 
#    - We can change the value.
 
#Ex. 
x=2
y=6
z="SUMIT"
print(x)
print(x+12)
print(x+y)
x=8
y=9
print(x+y)
print(z+" Rocks")
print(z[0])
print(z[1])
print(z[2])
print(z[-2])
print(z[-1])
print(z[0:5])
print(z[1:3])
print(z[0:])
print(z[:3])
print('I am ' + z) 
print('SU' + z[2:])
x,y,z = 1,2,3
print(x)
print(y)
print(z)

2
14
8
17
SUMIT Rocks
S
U
M
I
T
SUMIT
UM
SUMIT
SUM
I am SUMIT
SUMIT
1
2
3

# There are four collection data types in the Python programming language:

1) List is a collection which is ordered and changeable. Allows duplicate members.

2) Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3) Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4) Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [6]:
#1) Lists= It is used to store multiple items in single variable. 
#  List created using square bracket [] 
#  List is mutable. 
#Ex. 

a=["sumit","saurabh","mummy","Dada"]
print(a)
print(a[-1])
print(a[-2])
print(a[0:])
print(a[:2])
b=[55,'Sumit','Saurabh']
print(b)
print(b[1])
print(a+b)
c=[25,36,65,76,86]
print( c )
print(a+b+c)


# Ex. 
  
marks=[84,84,76,96,64,79,56,59,46,13,43,53,43,85]
marks.remove(84)
marks.pop(0)
marks.pop()
del marks[3:]
print(marks)
marks.extend([456,835,838,318,864,468])
print(marks)
print(min(marks))
print(marks)
print(sum(marks))
print(max(marks))
name=["sumit","saurabh","aditya","tejas"]
name.sort()
print(name)
name.pop(3)
name.extend(["Tejas"])
print(name) 
print(len(marks))

['sumit', 'saurabh', 'mummy', 'Dada']
Dada
mummy
['sumit', 'saurabh', 'mummy', 'Dada']
['sumit', 'saurabh']
[55, 'Sumit', 'Saurabh']
Sumit
['sumit', 'saurabh', 'mummy', 'Dada', 55, 'Sumit', 'Saurabh']
[25, 36, 65, 76, 86]
['sumit', 'saurabh', 'mummy', 'Dada', 55, 'Sumit', 'Saurabh', 25, 36, 65, 76, 86]
[76, 96, 64]
[76, 96, 64, 456, 835, 838, 318, 864, 468]
64
[76, 96, 64, 456, 835, 838, 318, 864, 468]
4015
864
['aditya', 'saurabh', 'sumit', 'tejas']
['aditya', 'saurabh', 'sumit', 'Tejas']
9

In [ ]:
#2)Tuples=It is almost same as list. 
#     A tuple is a collection which is ordered and unchangeable.
 #  It is inmutable. 
#  Tuples created using closed bracket. ()

In [ ]:
#3) Set =A set is a collection which is unordered, unchangeable*, and unindexed.
 #      Set created using Curly bracket. {}

In [4]:
#4) Dictionary =Dictionaries are used to store data values in key:value pairs.

#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# Ex.
    
names = {1:"sumit",2:"saurabh",3:"aditya",4:"payal",5:"tejas"}
print(names[1])
print(names.get(6 , "Not Found"))
a = ['x','y','z']
b = [1,2,3]
data = dict(zip(a,b))
print(data)
data['p'] = '4'
print(data)
del names[1]
print(names)
sports = { ' Criket ' : 'Virat' , ' Football ' : ' Ronaldo' , 'Pubg' : [ 'Sumit' , ' Scout' , 'Mortal' ] , 'Gotya' : { 'Satrewadi' : ['Sumit' ,'Sushant' , 'Parshya'] , 'Kalamboli' : 'Atharva' } }
print(sports)
print(sports['Gotya'])
sports.pop(" Football ")
print(sports)
sports.update({'Kho Kho' : ' Sumit '})
print(sports)

sumit
Not Found
{'x': 1, 'y': 2, 'z': 3}
{'x': 1, 'y': 2, 'z': 3, 'p': '4'}
{2: 'saurabh', 3: 'aditya', 4: 'payal', 5: 'tejas'}
{' Criket ': 'Virat', ' Football ': ' Ronaldo', 'Pubg': ['Sumit', ' Scout', 'Mortal'], 'Gotya': {'Satrewadi': ['Sumit', 'Sushant', 'Parshya'], 'Kalamboli': 'Atharva'}}
{'Satrewadi': ['Sumit', 'Sushant', 'Parshya'], 'Kalamboli': 'Atharva'}
{' Criket ': 'Virat', 'Pubg': ['Sumit', ' Scout', 'Mortal'], 'Gotya': {'Satrewadi': ['Sumit', 'Sushant', 'Parshya'], 'Kalamboli': 'Atharva'}}
{' Criket ': 'Virat', 'Pubg': ['Sumit', ' Scout', 'Mortal'], 'Gotya': {'Satrewadi': ['Sumit', 'Sushant', 'Parshya'], 'Kalamboli': 'Atharva'}, 'Kho Kho': ' Sumit '}

In [7]:
#Operators in python:-


#Ex. 
x =5 
y =6
print(x*y)
print(x+y)
print(x-y)
print(x/y)
x*=3
print(x)
x+=5
print(x)
a,b,c = 3,4,5
print(a<b)
a = -a
print(a)
#Relational Operators 
print(a<b and b<c)
 #For and both condition must be true
print(a<b and b>c)
print(a<b or b>c) 
#For or 1 condition is necessary for tru statement
print(a>c or b>c)
a!=b  # ! is sign for not
b/=2
print(b)
n=8
n=-n
print(n)
a>=6
b<=6
print(a==b)
print(b)
x = True
x = not x
print(x)

30
11
-1
0.8333333333333334
15
20
True
-3
True
False
True
False
2.0
-8
False
2.0
False

In [12]:
#How to swap the variables values?? 

#Step 1 :
#Ex. 

a=2
b=3
c=a #c=2
a=b #a=3
b=c #b=2
print(a)
print(b)

#Step 2 : 
#Ex. 
a=5
b=7
a=a+b # a = 12
b=a-b #b = 5
a=a-b #a= 7
print(a)
print(b)

#Step 3:
a=15
b=12
a, b=b,a
print(a)
print(b)

3
2
7
5
12
15

In [1]:

##How to use math function??
#Ex.
import math as m
x=math.sqrt(25)
y=math.sqrt(18)
print(math.floor(y))
print(math.ceil(y))
z=math.sin(90)
print(z)
k=math.cos(0)
print(k)
print(math.pi)
p=m.sqrt(50)
print(m.floor(p

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_42644/1639743505.py, line 14)

In [5]:
sumit = 5
str(34)
int(sumit)

5

In [23]:
x = "Sumit satre"
print(x)
print(x[:6])
print(x[6:])
print(x[1:6])
print(x[8:12])
print(x[5:8])
print(x[:])
print(len(x))
x.count("Sumit satre")
x.find("Sumit")

Sumit satre
Sumit
satre
umit
tre
 sa
Sumit satre
11

0